services:

    ## Media Transformers ##
    sfynx_api_media.transformer.document:
        class: 'Sfynx\ApiMediaBundle\Layers\Domain\Service\Media\Transformer\DocumentMediaTransformer'
        public: false
        tags:
            - { name: sfynx_api_media.transformer }

    sfynx_api_media.transformer.image:
        class: 'Sfynx\ApiMediaBundle\Layers\Domain\Service\Media\Transformer\ImageMediaTransformer'
        arguments: ['%sfynx_api_media.cache_directory%']
        public: false
        tags:
            - { name: sfynx_api_media.transformer }

    sfynx_api_media.transformer.rest:
        class: 'Sfynx\ApiMediaBundle\Layers\Domain\Service\Media\Transformer\RestMediaTransformer'
        public: false
        tags:
            - { name: sfynx_api_media.transformer }

    sfynx_api_media.transformer.svg:
        class: 'Sfynx\ApiMediaBundle\Layers\Domain\Service\Media\Transformer\SvgMediaTransformer'
        arguments: ['%sfynx_api_media.cache_directory%']
        public: false
        tags:
            - { name: sfynx_api_media.transformer }

#    sfynx_api_media.transformer.unica:
#        class: 'Sfynx\ApiMediaBundle\Layers\Domain\Service\Media\Transformer\UnicaMediaTransformer'
#        arguments: ['%sfynx_api_media.cache_directory%', '%knp_gaufrette.adapters.gallery.local.directory%']
#        public: false
#        tags:
#            - { name: sfynx_api_media.transformer }

    # Keep the default transformer in last position
    sfynx_api_media.transformer.default:
        class: 'Sfynx\ApiMediaBundle\Layers\Domain\Service\Media\Transformer\DefaultMediaTransformer'
        public: false
        tags:
            - { name: sfynx_api_media.transformer }
